/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-gutenberg-simple-weather-api  {
  border: 1px solid $black;
  margin: 0 auto;
  max-width: 400px;
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  .weather-block {
  	display: flex;
  	h4 {
  		flex: 1;
  		padding: 0;
  	}
  }
}
